@font-face {
    font-family: "Norse Bold";
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(196, 199, 202);
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo-area {
    background-image: url(./images/background.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text {
    font-family: Norse Bold;
    font-size: 60px;
}

.logo-section {
    position: relative;
    top: 120px;
    display: flex;
    align-items: center;
}

img {
    width: 50%;
    height: 50%;
}

.copyright-section {
    margin-top: auto;
    padding-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-area {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5%;
}

.form-area {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%
}

.submit-section {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5%
}

button {
    display: block;
    width: 20%;
}

