@font-face {
    font-family: "Norse Bold";
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(196, 199, 202);
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo-area {
    background-image: url(./images/background.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text {
    font-family: Norse Bold;
    font-size: 60px;
}

.logo-section {
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.500);
    width: inherit;
}

img {
    height: 100px;
    width: 100px;
}

.copyright-section {
    margin-top: auto;
    padding-bottom: 50px;
}

#background-source-link {
    color: white;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
}

.info-area {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.form-area {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px #888;
}

.form-heading {
    font-weight: bold;
}

.form-container {
    display: flex;
    gap: 30px;
}


input {
    border: 1px solid rgba(255, 255, 255, 0.904);
    width: 225px;
    margin-bottom: 40px;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    height: 20px;
}

span {
    margin-top: -40px;
    word-wrap: normal;
    width: 225px;
}

.password-error {
    color: red;
    position: absolute;
    font-size: 12px;
}

.password-confirm-error {
    color: red;
    position: absolute;
    font-size: 12px;
}

.phone-error {
    color: red;
    position: absolute;
    font-size: 12px;
}

.email-error {
    color: red;
    position: absolute;
    font-size: 12px;
}

.submit-section {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5%;
    padding-top: 2.5%;

}

button {
    display: block;
    width: 175px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(34, 70, 34);
    color: white;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px #888;
}

#login-link {
    color: rgb(34, 70, 34);
}

input:focus {
    border: 1px solid rgb(75, 75, 236);
    outline: none;
}

input:invalid {
    border: 1px solid rgb(218, 44, 44);
    outline: none;
}

input:valid {
    border: 1px solid rgb(91, 194, 91);
    outline: none;
}

input:placeholder-shown {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.904)
}
